In [1]:
import pandas as pd
from pycaret.classification import *

In [3]:
df = pd.read_csv('data/data.csv')
df

      input_1   input_2   input_3  pred
0    57.99879  46.27261  99.97455     0
1    51.99879  90.99575  46.27261     1
2    98.87455  90.99261  86.27225     2
3    91.24879  20.34575  42.27261     3
4    51.99879  93.99575  46.27261     4
..        ...       ...       ...   ...
922  96.53788  54.73844  17.69907     3
923  44.53781  88.37842  66.92945     1
924  69.38968  22.95433  59.82559     1
925  67.09695  54.56414  53.96752     2
926  32.12081  80.49886  30.47048     5

[927 rows x 4 columns]

In [4]:
cat_features = ['input_1', 'input_2', 'input_3']
experiment = setup(df, target='pred', categorical_features=cat_features)

In [6]:
top3 = compare_models(n_select = 3)

In [7]:
save_model(top3[0], model_name='Logistic_Regression')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=['input_1',
                                                             'input_2',
                                                             'input_3'],
                                       display_types=True, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=[], target='pred',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_n...
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  LogisticRegression(C=1.0, class_weight=None, dual=False,
                                     fit_intercept=True, intercept_scaling=1,
                                     l1_ratio=None, max_iter=1000,
                                     multi_class='auto', n_jobs=None,
                                     penalty='l2', random_state=1559,
                                     solver='lbfgs', tol=0.0001, verbose=0,
                                     warm_start=False)]],
          verbose=False),
 'Logistic_Regression.pkl')